{% extends 'base.html' %}
{% block price_detail %}

<style>
   .inline-div {
        display: block;
    }

    h1, h6{
        display: inline-block;
        text-align: left;
    }

    .price{
        margin-top:5%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .disable { 
    pointer-events: none; 
    cursor: default; 
    }
    .split {
    position: absolute;
    z-index: 1;
    }

    /* Control the left side */
    .left {
    left: 65%;
    }

    /* Control the right side */
    .right {
    margin-right: 40%;
    }

    /* If you want the content centered horizontally and vertically */
    .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    }

</style>
<div class="price">
    <div class="inline-div" style="width: 100%; display: table;">
        <div style="display: table-row;">
            <div style="width: 600px; display: table-cell;"> <h1><img src={{data.image.small}}>  {{ data.name }} </h1><h6> ({{ data.symbol }})</h6> </div>
            <div style="display: table-cell; text-align:right">
                <h3>
                    <a class="disable" style="font-size:15px; color:grey;">{{ data.name }} Price</a><br>
                    {{ data.market_data.current_price.usd }}
                    {% if data.market_data.price_change_percentage_24h_if >= 0 %}
                        <a class="p-1 bg-success text-white disable" style='font-size:15px;'>{{data.market_data.price_change_percentage_24h}}%</a>
                    {% else %}
                        <a class="p-1 bg-danger text-white disable" style='font-size:15px;'>{{data.market_data.price_change_percentage_24h}}%</a>
                    {% endif %}
                </h3> 
            </div>
        </div>
    </div>
    

    <div class='split right'>
        {% if data.links.homepage or data.links.blockchain_site or data.links.official_forum_url or data.links.chat_url or data.links.announcement_url or data.links.subreddit_url %}
            <div>
                <h4>Link</h4>
                {% if data.links.homepage %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 2.5px; margin-left: 2.5px;" >
                            Homepage
                        </button>
                        <div class="dropdown-menu">
                            {% for link in data.links.homepage %}
                                {% if link != "" %}
                                    <a class="dropdown-item" href="{{link}}">{{link}}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                
                {% if data.links.blockchain_site %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 2.5px; margin-left: 2.5px;">
                            Blockchain site
                        </button>
                        <div class="dropdown-menu">
                            {% for link in data.links.blockchain_site %}
                                {% if link != "" %}
                                    <a class="dropdown-item" href="{{link}}">{{link}}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if data.links.official_forum_url %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 2.5px; margin-left: 2.5px;">
                            Official forum
                        </button>
                        <div class="dropdown-menu">
                            {% for link in data.links.official_forum_url %}
                                {% if link != "" %}
                                    <a class="dropdown-item" href="{{link}}">{{link}}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if data.links.chat_url %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 2.5px; margin-left: 2.5px;">
                            Chat
                        </button>
                        <div class="dropdown-menu">
                            {% for link in data.links.chat_url %}
                                {% if link != "" %}
                                    <a class="dropdown-item" href="{{link}}">{{link}}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if data.links.announcement_url %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 2.5px; margin-left: 2.5px;">
                            Announcement
                        </button>
                        <div class="dropdown-menu">
                            {% for link in data.links.announcement_url %}
                                {% if link != "" %}
                                    <a class="dropdown-item" href="{{link}}">{{link}}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if data.links.subreddit_url %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 2.5px; margin-left: 2.5px;">
                            Subreddit
                        </button>
                        <div class="dropdown-menu">
                            {% if data.links.subreddit_url != "" %}
                                <a class="dropdown-item" href="{{link}}">{{data.links.subreddit_url}}</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

            </div>
        {% endif %}

            </br>

            {% if data.links.repos_url.github or data.links.repos_url.bitbucket %}
                <div>
                    <h4>Source Code</h4>
                    {% if  data.links.repos_url.github %}    
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 2.5px; margin-left: 2.5px;">
                                Github
                            </button>
                            <div class="dropdown-menu">
                                {% for link in data.links.repos_url.github %}
                                    {% if link != "" %}
                                        <a class="dropdown-item" href="{{link}}">{{link}}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if  data.links.repos_url.bitbucket %}    
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 2.5px; margin-left: 2.5px;">
                                Bitbucket
                            </button>
                            <div class="dropdown-menu">
                                {% for link in data.links.repos_url.bitbucket %}
                                    {% if link != "" %}
                                        <a class="dropdown-item" href="{{link}}">{{link}}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                </div>
            {% endif %}
        </br>
        <h3>description</h3>
        {{data.description.en|safe}}

        {% if googlenews %}
        </br></br><hr>
        <h3>News</h3>
        </br>
        
        {% for news in googlenews %}

            {% if news.category == data.name|lower %}
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-3">
                            <img src="/media/{{news.img}}" class="card-img">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'news_detail' news.pk %}" style="color:#1d1414;">{{ news.title }}</a>{% if user == news.author or perms.news.all or perms.news.change_news or perms.news.delete_news %} <a href="{% url 'news_edit' news.pk %}" style="font-size: 15px;">(Edit | </a><a href="{% url 'news_delete' news.pk %}" style="font-size: 15px;">Delete)</a> {% endif %}</h5>
                                <span class="text-muted">by {{ news.site }} | {{ news.datetime }}</span>
                                <p class="card-text">{{ news.desc|safe|truncatewords:"200" }}</p>
                                <p class="card-text"><small class="text-muted">{{news.date}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>

            {% else %}
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-3">
                            <img src="{{news.img}}" class="card-img">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><a href='https://{{news.link}}' style="color:#1d1414;">{{ news.title }}</a></h5>
                                <span class="text-muted">by {{ news.site }} | {{ news.datetime }}</span>
                                <p class="card-text"></br>{{ news.desc|safe|truncatewords:"200" }}</p>
                                <p class="card-text"><small class="text-muted">{{news.date}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}

        {% endfor %}
        {% endif %}

        {% if ideas %}
        </br></br><hr>
        <h3>Ideas</h3>
        </br>
        {% for idea in ideas %}
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img src="/media/{{idea.header_image}}" class="card-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'idea:idea_detail' idea.id %}" style="color:#1d1414;">{{ idea.title }}</a>{% if user == idea.author or perms.idea.all or perms.idea.change_idea or perms.idea.delete_idea %} <a href="{% url 'idea:idea_edit' idea.id %}" style="font-size: 15px;">(Edit | </a><a href="{% url 'idea:idea_delete' idea.id %}" style="font-size: 15px;">Delete)</a> {% endif %}</h5>
                        <span class="text-muted">by {{ idea.author }} | {{ idea.datetime }}</span>
                        <p class="card-text">{{ idea.body|safe|truncatewords:"200" }}</p>
                        <p class="card-text"><small class="text-muted">{{idea.date}}</small></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}

        {% if data.id == 'bitcoin' %}
            </br></br><hr>
            <h3>Companies that have invested in Bitcoin</h3>
            </br>
            <div class="row">
                    {% for company in companies.companies %}
                    <div class="col col-md-4">
                        <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
                            <div class="card-header"><h5>{{ company.name }} ({{company.country}})</h5></div>
                            <div class="card-body">
                            <h5 class="card-title">Total Holdings:</h5>
                            <h6 class="card-text">{{ company.total_holdings }}</h6>
                            <hr style="background-color:white;">
                            <h5 class="card-title">Total Entry Value:</h5>
                            <h6 class="card-text">{{ company.total_entry_value_usd }}</h6>
                            <hr style="background-color:white;">
                            <h5 class="card-title">Total Current Value:</h5>
                            <h6 class="card-text">{{ company.total_current_value_usd }}</h6>
                            <hr style="background-color:white;">
                            <h5 class="card-title">Percentage Of Total Supply:</h5>
                            <h6 class="card-text">{{ company.percentage_of_total_supply }}%</h6>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        {% endif %}
        
    </div>
    </br></br>
    <div class="split left card text-white bg-secondary mb-3" style="width: 30rem;">

        <div class="card-header" style="font-size:25px;">{{data.symbol|upper}} Price Statistics</div>
        <div class="card-body">
            <table>
                <colgroup>
                    <col style="width:500px;min-width:auto">
                </colgroup>
                <h6 style="color: azure">
                    {{data.name}} Price Today
                </h><hr style="background-color:white;">
                <tbody>
                    <tr>
                        <th scope="row">
                            <strong><b>{{data.name}} Price</b></strong>
                        </th>
                        <td style="width:200px;min-width:auto; text-align:right">{{ data.market_data.current_price.usd }}</td>
                    </tr>
                </tbody>
            </table>

            <hr style="background-color:white;">

            <table>
                <colgroup>
                    <col style="width:500px;min-width:auto">
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">
                            Price Change 24
                        </th>
                        <td style="width:200px;min-width:auto; text-align:right">
                            {{ data.market_data.price_change_24h }}
                        </td>
                        <td style="width:10px;min-width:auto; text-align:right">
                            {% if data.market_data.price_change_percentage_24h_if >= 0 %}
                                <a class="p-1 bg-success text-white disable" style='font-size:15px;'>{{data.market_data.price_change_percentage_24h}}%</a>
                            {% else %}
                                <a class="p-1 bg-danger text-white disable" style='font-size:15px;'>{{data.market_data.price_change_percentage_24h}}%</a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>

            <hr style="background-color:white;">

            <table>
                <colgroup>
                    <col style="width:500px;min-width:auto">
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">
                            24h Low / 24h High
                        </th>
                        <td style="width:200px;min-width:auto; text-align:right">{{ data.market_data.low_24h.usd|safe }} / {{ data.market_data.high_24h.usd|safe }}</td> 
                    </tr>
                </tbody>
            </table>

            <hr style="background-color:white;">

            <table>
                <colgroup>
                    <col style="width:500px;min-width:auto">
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">
                            Trading Volume 24h
                        </th>
                        <td style="width:200px;min-width:auto; text-align:right">{{ data.market_data.total_volume.usd }}</td> 
                    </tr>
                </tbody>
            </table>

            <hr style="background-color:white;">

            <table>
                <colgroup>
                    <col style="width:500px;min-width:auto">
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">
                            Volume / Trading 
                        </th>
                        <td style="width:200px;min-width:auto; text-align:right">{{ data.Volume_Market_Cap }}</td> 
                    </tr>
                </tbody>
            </table>

            <hr style="background-color:white;">

            <table>
                <colgroup>
                    <col style="width:500px;min-width:auto">
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">
                            Market Rank
                        </th>
                        <td style="width:200px;min-width:auto; text-align:right">{{ data.market_data.market_cap_rank }}</td> 
                    </tr>
                </tbody>
            </table>

        </br></br>

            <table>
                <colgroup>
                    <col style="width:500px;min-width:auto">
                </c<table>
                    <colgroup>
                        <col style="width:500px;min-width:auto">
                    </colgroup>
                    <h6 style="color: azure">
                        {{data.name}} Market Cap
                    </h><hr style="background-color:white;">
                    <tbody>
                        <tr>
                            <th scope="row">
                                <strong><b>Market Cap</b></strong>
                            </th>
                            <td style="width:200px;min-width:auto; text-align:right">{{ data.market_data.market_cap.usd }}</td>
                        </tr>
                    </tbody>
                </table>
                
                {% if data.market_data.fully_diluted_valuation.usd %}
                <hr style="background-color:white;">
    
                <table>
                    <colgroup>
                        <col style="width:500px;min-width:auto">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">
                                Fully Diluted Market Cap 
                            </th>
                            <td style="width:200px;min-width:auto; text-align:right">{{ data.market_data.fully_diluted_valuation.usd }}</td> 
                        </tr>
                    </tbody>   
                </table>
                {% endif %}

                <hr style="background-color:white;">

                <table>
                    <colgroup>
                        <col style="width:500px;min-width:auto">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">
                                Market Cap Change 24h 
                            </th>
                            <td style="width:200px;min-width:auto; text-align:right">{{ data.market_data.market_cap_change_24h }}</td> 
                            <td style="width:10px;min-width:auto; text-align:right">
                                {% if data.market_data.market_cap_change_percentage_24h_if >= 0 %}
                                    <a class="p-1 bg-success text-white disable" style='font-size:15px;'>{{data.market_data.market_cap_change_percentage_24h}}%</a>
                                {% else %}
                                    <a class="p-1 bg-danger text-white disable" style='font-size:15px;'>{{data.market_data.market_cap_change_percentage_24h}}%</a>
                                {% endif %}
                            </td> 
                        </tr>
                    </tbody>   
                </table>

            </br></br>

            <table>
                <colgroup>
                    <col style="width:500px;min-width:auto">
                </c<table>
                    <colgroup>
                        <col style="width:500px;min-width:auto">
                    </colgroup>
                    <h6 style="color: azure">
                        {{data.name}} Price Yesterday
                    </h><hr style="background-color:white;">
                    <tbody>
                        <tr>
                            <th scope="row">
                                <strong><b>Market Cap</b></strong>
                            </th>
                            <td style="width:200px;min-width:auto; text-align:right">{{ data.market_data.market_cap.usd }}</td>
                        </tr>
                    </tbody>
                </table>
    
                <hr style="background-color:white;">
    
                <table>
                    <colgroup>
                        <col style="width:500px;min-width:auto">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">
                                Fully Diluted Market Cap 
                            </th>
                            <td style="width:200px;min-width:auto; text-align:right">{{ data.market_data.fully_diluted_valuation.usd }}</td> 
                        </tr>
                    </tbody>
                </table>

        </br></br>

        <table>
            <colgroup>
                <col style="width:500px;min-width:auto">
            </c<table>
                <colgroup>
                    <col style="width:500px;min-width:auto">
                </colgroup>
                <h6 style="color: azure">
                    {{data.name}} Supply
                </h><hr style="background-color:white;">
                <tbody>
                    <tr>
                        <th scope="row">
                            <strong><b>Circulating Supply</b></strong>
                        </th>
                        <td style="width:200px;min-width:auto; text-align:right">{{ data.market_data.circulating_supply }} {{data.symbol|upper}}</td>
                    </tr>
                </tbody>
            </table>

            {% if data.market_data.total_supply %}
            <hr style="background-color:white;">

            <table>
                <colgroup>
                    <col style="width:500px;min-width:auto">
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">
                            Total Supply
                        </th>
                        <td style="width:200px;min-width:auto; text-align:right">{{ data.market_data.total_supply }} {{data.symbol|upper}}</td> 
                    </tr>
                </tbody>
            </table>
            {% endif %}

            {% if data.market_data.max_supply %}
            <hr style="background-color:white;">

            <table>
                <colgroup>
                    <col style="width:500px;min-width:auto">
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">
                            Max Supply
                        </th>
                        <td style="width:200px;min-width:auto; text-align:right">{{ data.market_data.max_supply }} {{data.symbol|upper}}</td> 
                    </tr>
                </tbody>
            </table>
            {% endif %}
            
        </div>
    </div>

        
</div>  



{% endblock price_detail %}
